<div class="well" style="margin: 30px 60px">
<h3>Fotomoo is a tool to manage your photos stored on the cloud</h3>
  <p class="muted"><small>At this moment it works with Google drive only</small></p>

  <div class="pull-right">
    <img src="assets/about1.png" />
  </div>

<p>
  <strong>Fotomoo</strong> organises photos on your Google Drive by <strong>automatically</strong>
  creating multiple hierarchies and assigning searchable indexes to your photos.
</p><p>
  Our goal is to make management of your digital assets on the cloud as effortless as possible.
</p><p>

    This POC is a very first step, a bare minimum which can already
    help you to keep your pictures in order.
</p><p>
    You can start by uploading your pictures into your Google Drive. No worries into which folder in what order,
    duplicate files, empty folders, etc. Fotomoo will organize your pictures by date and location and index them
    in a way you can find a photo you are looking for right away!
</p>

<p>Please read {{#linkTo 'readme'}}readme page{{/linkTo}} for more details</p>
<p>You may also take a look at {{#linkTo 'faq'}}F.A.Q.{{/linkTo}}</p>
<p>{{#linkTo 'setup'}}Start organazing pictures on your Google Drive{{/linkTo}}</p>

<h3>Coming up (very) soon</h3>
<p>
    In the coming weeks you will be able to {{#linkTo 'manage'}}Manage{{/linkTo}} your library:
  <ul>
  <li>Search, Filter, Select and Share Fotomoo managed pictures using
    all automatically and manually created attributes. In fact this is what Fotomoo is created for =)</li>
  <li>Edit your photos by integrating with Google Drive 3rd party tools like Picmonkey or Pics.io</li>
  <li>Fine tune the structure and searchable indexes which Fotomoo has automatically created for you.</li>
  <li>Create your own hierarchies and searchable indexes</li>
  <li>Rate and flag your photos, assign description</li>
  </ul>
</p><p>
  For now you can take advantage of automatically created hierarchies and indexes using
  <a href="https://drive.google.com/">Google Drive web UI</a>
</p>

<h3>The future</h3>
<p>
    Fotomoo will use advanced image processing algorithms
    to organize and help to enhance your images in much greater way.
  Please stay tuned!
</p>
</div>
