<div class="well" style="margin: 30px 60px">
<h1>ABOUT</h1>

<p>
    We are engaged to make the best photo library management tool.
    Our goal is to make management of your digital assets as effortless as possible.
</p><p>
    This POC is a very first step, a bare minimum which can already
    help you to organize your pictures.
</p><p>
    You can start by uploading your pictures into your Google Drive. No worries into which folder in what order,
    duplicate files, empty folders, etc. We will organize(?) your pictures by time and location and index them
    so you can find a photo you are looking for very easily.
</p>

<p>{{#linkTo 'readme'}}More info...{{/linkTo}}</p>
<p>You may also take a look at {{#linkTo 'faq'}}F.A.Q.{{/linkTo}}</p>
<p>{{#linkTo 'setup'}}Start organazing pictures on your Google Drive{{/linkTo}}</p>

<h2>Coming up soon:</h2>
<p>
    In a coming weeks you will be able to fine tune the structure
    and searchable indexes which Fotomoo has created for you.
</p><p>
    You will also see the typical but yet powerful functionality like keywording,
    star rating, captures, etc. With a difference that this data will let you slice and dice your
    library in a way that you can find a particular picture right away.
</p>

<h2>The future:</h2>
<p>
    Fotomoo will use advanced image processing algorithms
    to organize and help to enhance your images in much greater way.
</p>
</div>
