<div class="well row-fluid" style="margin: 30px 60px; width: 87%">
<h3>Fotomoo is a tool to manage your photos stored on the cloud</h3>

<div class="span6" >
  <p class="muted"><small>At this moment it works with Google drive only</small></p>

<p>
  <strong>Fotomoo</strong> organises photos on your Google Drive by <strong>automatically</strong>
  creating multiple <span class="label">hierarchies</span> and assigning
  <span class="label">searchable indexes</span> to your photos.
</p><p>
  Fotomoo is designed to make management of your digital assets on the cloud as effortless as possible.
</p><p>

    This POC is a very first step, a bare minimum which can already
    help you to keep your pictures in order.
</p>

    <p class="text-error">In order to login into your Google account you need to <strong>allow pop-ups</strong> from this site
        <br />
    In <strong>Chrome</strong> you need to click on the <img src="assets/chrome_95472_alert.gif" class="img-rounded" /> icon in the address bar and allow current site to show pop-ups
        <a href="https://support.google.com/chrome/answer/95472?hl=en">(detail instruction)</a>.<br />
     In <strong>Safari</strong> please follow the
     <a href="http://support.apple.com/kb/PH11946?viewlocale=en_US&locale=en_US">instructions</a> here
    </p>

  <p>Please read {{#linkTo 'readme'}}readme page{{/linkTo}} for more details</p>
  <p>You may also take a look at {{#linkTo 'faq'}}F.A.Q.{{/linkTo}}</p>
  <p>{{#linkTo 'setup'}}Start organizing pictures on your Google Drive{{/linkTo}}</p>

<h3>Coming soon</h3>
  <p>
    <span class="label label-warning" style="font-size: larger">Shared Library</span> You will be able to
    organize and manage a single Fotomoo library from multiple accounts.
    Great for family photo collections!
  </p>
<p>
    In the coming weeks you will be able to {{#linkTo 'manage'}}Manage{{/linkTo}} your photo library
  on the cloud using Fotomoo.
  <ul>
  <li>
    <span class="label">Search</span>,
    <span class="label">Filter</span>,
    <span class="label">Select</span> and
    <span class="label">Share</span>
    Fotomoo managed pictures using all automatically and manually created attributes</li>
    In fact this is what Fotomoo is created for =)</li>
  <li><span class="label">Edit</span> your photos by integrating with Google Drive
    3rd party tools like Picmonkey or Pics.io</li>
  <li><span class="label">Fine tune</span> the structure and searchable indexes which Fotomoo has automatically created for you.</li>
  <li>Create your <span class="label">own hierarchies</span> and searchable indexes</li>
  <li><span class="label">Rate</span> and <span class="label">flag</span> your photos, assign
    <span class="label">description</span></li>
  </ul>
</p><p>
  For now you can take advantage of automatically created hierarchies and indexes using
  <a href="https://drive.google.com/">Google Drive web UI</a>
</p>

<h3>The future</h3>
<p>
    Fotomoo will use advanced image processing algorithms
    to organize and help to enhance your images in much greater way.
  Please stay tuned!
</p>
</div>

  <div class="span5 pull-right">
      <h3>By Date</h3>
    <img src="assets/about_by_date.png" />
    <h3>By Location</h3>
    <img src="assets/about_by_location.png" />
    <h3>Search</h3>
    <img src="assets/about_search.png" />
  </div>

</div>

<div style="margin-left:20px;">
  <footer>
    <p>&copy; Arkadiy Kraportov 2013. Version 0.0.1&#945; </p>
  </footer>
</div>