<div class="well row-fluid" style="margin: 30px 60px; width: 87%">
<h3>Fotomoo is a tool to manage your photos stored on the cloud</h3>

<div class="span6" >
  <p class="muted"><small>At this moment it works with Google drive only</small></p>

<p>
  <strong>Fotomoo</strong> organises photos on your Google Drive by <strong>automatically</strong>
  creating multiple hierarchies and assigning searchable indexes to your photos.
</p><p>
  Our goal is to make management of your digital assets on the cloud as effortless as possible.
</p><p>

    This POC is a very first step, a bare minimum which can already
    help you to keep your pictures in order.
</p>

  <div class="alert alert-info">
    Fotomoo takes advantage of Google Drive feature which allows a file to belong to multiple
    folders. Unlike any other filesystems with the similar feature, deleting a file from
    one of the Google Drive folders deletes the file <strong>completely</strong>
    from all of the folders.<br />
    So please be extra careful when you delete a photo from Google Drive UI.<br />
    <strong>If</strong> you would like to keep managed photos only in the Fotomoo
    hierarchy or you want to delete Fotomoo hierarchy and leave images in their
    original location please navigate to {{#linkTo 'manage'}}Manage{{/linkTo}}
    page and use <strong>"Leave them maneged"</strong> or <strong>"Unmanage All"</strong>
    buttons
  </div>

  <p>Please read {{#linkTo 'readme'}}readme page{{/linkTo}} for more details</p>
  <p>You may also take a look at {{#linkTo 'faq'}}F.A.Q.{{/linkTo}}</p>
  <p>{{#linkTo 'setup'}}Start organazing pictures on your Google Drive{{/linkTo}}</p>

<h3>Coming up (very) soon</h3>
<p>
    In the coming weeks you will be able to {{#linkTo 'manage'}}Manage{{/linkTo}} your library:
  <ul>
  <li>Search, Filter, Select and Share Fotomoo managed pictures using
    all automatically and manually created attributes. In fact this is what Fotomoo is created for =)</li>
  <li>Edit your photos by integrating with Google Drive 3rd party tools like Picmonkey or Pics.io</li>
  <li>Fine tune the structure and searchable indexes which Fotomoo has automatically created for you.</li>
  <li>Create your own hierarchies and searchable indexes</li>
  <li>Rate and flag your photos, assign description</li>
  </ul>
</p><p>
  For now you can take advantage of automatically created hierarchies and indexes using
  <a href="https://drive.google.com/">Google Drive web UI</a>
</p>

<h3>The future</h3>
<p>
    Fotomoo will use advanced image processing algorithms
    to organize and help to enhance your images in much greater way.
  Please stay tuned!
</p>
</div>

  <div class="span5">
    <img src="assets/about1.png" />
  </div>

</div>
