<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">FM</a>
    <ul class="nav">
      <li><a href="#">About</a></li>
    </ul>
  </div>
</div>

{{outlet}}


{{#if FM.drive.isQueueRunning}}
  {{render 'copy-progress'}}
{{/if}}
