<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">FM</a>
    <ul class="nav">
      <li><a href="#">About</a></li>
    </ul>
  </div>
</div>

<div id="wrapper">
  <div class="panels">
    <div class="files-panel">
      {{outlet "files"}}
        <br />
    </div>
    <div class="folders-panel">
      <ul class="nav nav-list">
        {{outlet}}
      </ul>
      {{#if FM.drive.isQueueRunning}}
        <h1>HH</h1>
        {{render 'copy-progress'}}
      {{/if}}
    </div>
  </div>
</div>
