<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">FM</a>
    <ul class="nav">
      <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
      <li>{{#linkTo 'setup'}}Setup{{/linkTo}}</li>
    </ul>
  </div>
</div>

{{outlet}}


{{#if FM.drive.isQueueRunning}}
  {{render 'copy-progress'}}
{{/if}}

{{#if FM.locationService.toProcessCount}}
  {{render 'location-service-progress'}}
{{/if}}
