<div class="modal hide" tabindex="-1">
  <div class="modal-header">
    <h3>Creating Hierarchies</h3>
  </div>
  <div class="modal-body">
    <div class="well well-large well-transparent lead">
      <div class="progress progress-striped active">
        <div class="bar" {{bindAttr style="view.completed"}}></div>
      </div>
      <p>File processed: {{FM.drive.fileJustCopied}}</p>
    </div>
  </div>
</div>

