<h1>F.A.Q.</h1>
<dl>
  <dt>How do I do Fotomoo Test Drive</dt>
  <dd>...</dd>
  <dt>Archive images and remove from local hard drive</dt>
  <dd>...</dd>
  <dt>Automatically upload images from my mobile device</dt>
  <dd>...</dd>
  <dt>How can I help to make Fotomoo better</dt>
  <dd>...</dd>
</dl>