<h1>F.A.Q.</h1>
<dl>
  <dt>How do I do Fotomoo Test Drive</dt>
  <dd>
      Easiest way to find out whether Fotomoo will suite your needs it to export few tens or hundreds of
      pictures from your favorite Photo management application into synced Google Drive folder on your local drive.<br />
      For testing I would recommend to export photos using small dimentions so syncing won't take long time and
      also the collection won't take too much space on your Google Drive.
      <br />
      Once syncing is complete you can go to {{#linkTo 'setup'}}Organize{{/linkTo}}
      page to organize exported pictures into hierarchies.
  </dd>
  <dt>Archive images and remove from local hard drive</dt>
  <dd>...</dd>
  <dt>Automatically upload images from my mobile device</dt>
  <dd>...</dd>
  <dt>How can I help to make Fotomoo better</dt>
  <dd>...</dd>
  <dt>Why photos uploaded by IFTTT ends up into "unknown" folder</dt>
  <dd>...</dd>

</dl>