<div class="pull-left">
<iframe src="https://docs.google.com/forms/d/13YEjgaR0Qd9hW_ZhnXHl8AMbEtCoFuJy3TVdDhIcUK0/viewform?embedded=true" width="760" height="744" frameborder="0" marginheight="0" marginwidth="0">
    <h1 style="color: white">Loading...</h1>
</iframe>
</div>

<div class="pull-right">
    <h3>You can also send me an email at <a href="mailto:arkadiyk@gmail.com?Subject=Fotomoo%20Feedback">arkadiyk@gmail.com</a></h3>
    <h3>Or log an issue at <a href="https://github.com/arkadiyk/FM/issues">Github</a></h3>
</div>