<div class="container-fluid" style="margin: 50px">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit row">
    <div class="pull-left">
      <h1 style="color: red;">Fotomoo</h1>
      <h3>tool to manage photos stored on your Google Drive</h3>
    </div>
    <div class="pull-right" style="margin-top: 86px;">
      {{#linkTo 'about' class="btn btn-inverse"}}Learn more &raquo;{{/linkTo}}
    </div>
  </div>

  <!-- Example row of columns -->
  <div class="row-fluid landing-page">
    <div class="span4">
      <h2>Organize</h2>
      <p>
        Fotomoo lets you <strong>automatically</strong> organize images stored on
        your Google Drive into <span class= "label label-info">By Date</span> and <span class= "label label-info">By Location</span>
        folder hierarchies.
      </p>
      <p>
        Fotomoo also makes your images <span class= "label label-info">Searchable</span>
        using any part of the address where the picture was taken.
      </p>
      <small><blockquote class="muted">
        In order to put a photo into <strong>By Location</strong> hierarchy
        and make it <strong>Searchable</strong> by address, the photo must have been taken
        with a Smartphone or camera equipped with GPS.
      </blockquote></small>
    </div>
    <div class="span4">
      <div class="row">
        <h2 class="pull-left">Manage</h2>
        <span class= "label label-warning pull-right" style="margin-top: 18px">coming soon</span>
      </div>

      <p>
        Soon Fotomoo will let you create <span class= "label label-info">Albums</span>, assign <span class= "label label-info">Keywords</span>,
        <span class= "label label-info">Rate</span> and <span class= "label label-info">Flag</span> your photos,
        write a <span class= "label label-info">Description</span>
      </p>

      <p>
        <span class= "label label-info">Browse</span>,
        <span class= "label label-info">Search</span> and
        <span class= "label label-info">Filter</span>
        your photo library using automatically or manually created hierarchies and
        attributes as well as EXIF metadata.
      </p>

      <p>
        <span class= "label label-info">Share</span> individual photos or albums on your favorite social networks
      </p>

      <p>
        <span class= "label label-info">Edit</span> your photos using Google Drive
        3rd party applications like <a href="http://www.picmonkey.com/">Picmonkey</a>
        or <a href="http://pics.io/">Pics.io</a>
      </p>

    </div>
    <div class="span4">
      <div class="row">
        <h2 class="pull-left">Process</h2>
        <span class= "label label-warning pull-right" style="margin-top: 18px">the future</span>
      </div>
      <p>
        In the future, Fotomoo will offer advanced image processing to help you organize your library and enhance your photos.
        Fotomoo will be able to recommend <span class= "label label-info">keywords</span> for you photos, detect
        possibly <span class= "label label-info">under- and over- exposed</span> photos,
        <span class= "label label-info">blurry</span> images, images with <span class= "label label-info">no content</span>,
        potential <span class= "label label-info">duplicates</span>, etc.
      </p>

    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Arkadiy Kraportov 2013. Version 0.0.3&#945; </p>
  </footer>

</div> <!-- /container -->