<h1>Info</h1>
<div class="well" style="width: 91%; margin: 30px">
  <table class="table table-hover">
    <tr>
      <td>Total number of images on your Google Drive</td>
      <td>1234</td>
      <td></td>
    </tr>
    <tr>
      <td>Number of images managed by Fotomoo</td>
      <td>934</td>
      <td><button class="btn btn-info btn-small">Unmanage All</button></td>
    </tr>
    <tr>
      <td>Number of images not yet managed by Fotomoo</td>
      <td>234</td>
      <td><button class="btn btn-info btn-small">Start Managing</button></td>
    </tr>
    <tr>
      <td>Number of managed images with geolocation info but not in location hierarchy</td>
      <td>34</td>
      <td><button class="btn btn-info btn-small">Organize by location</button></td>
    </tr>
    <tr>
      <td>Number of exact duplicate images</td>
      <td>5</td>
      <td><button class="btn btn-info btn-small">Show</button></td>
    </tr>
    <tr>
      <td>Number managed images which also belong to unmanaged folders</td>
      <td>5</td>
      <td><button class="btn btn-info btn-small">Leave them managed</button></td>
    </tr>
  </table>
</div>
