<div class="modal" id="load">
  <div class="modal-body" style="padding: 50px">
    <div class="well well-large well-transparent lead">
      <i class="icon-spinner icon-spin icon-2x pull-left"></i> <div style="margin-top: 6px">Loading Data</div>
    </div>
    <p class="muted">
      <span id='load-message'>{{FM.drive.statusMessage}}</span>
      <small class="pull-right" id='load-details-message'>{{FM.drive.statusDetailsMessage}}</small>
    </p>
  </div>
</div>
