<div style="margin: 40px">
  <h1>Manage (coming soon)</h1>
  <p>
    Soon this page will let you:
  <ul>
    <li>
      <span class="label">Search</span>,
      <span class="label">Filter</span>,
      <span class="label">Select</span> and
      <span class="label">Share</span>
      Fotomoo managed pictures using all automatically and manually created attributes</li>
    <li><span class="label">Edit</span> your photos by integrating with Google Drive 3rd party tools like Picmonkey or Pics.io</li>
    <li><span class="label">Fine tune</span> the structure and searchable indexes which Fotomoo has automatically created for you.</li>
    <li>Create your own hierarchies and searchable indexes</li>
    <li><span class="label">Rate</span> and <span class="label">Flag</span> your photos,
      assign <span class="label">description</span></li>
  </ul>

  </p><p>
    For now you can take advantage of Fotomoo created Date and Location hierarchies and searchable indexes using
    <a href="https://drive.google.com/">Google Drive UI</a>
  </p>
</div>

{{#if allChildrenManagedFiles.length}}
<div class="well" style="width: 91%; margin: 30px">
  <table class="table table-hover">
    <tr>
      <td>Total number of images on your Google Drive</td>
      <td>{{allChildrenFiles.length}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Number of images managed by Fotomoo</td>
      <td>{{allChildrenManagedFiles.length}}</td>
      <td><button class="btn btn-info btn-small btn-with-popover"
                  data-content="Unlink all managed images from the 'Fotomoo Pictures' folder.
                  After this operation you can safely delete this folder
                  folder without risk of loosing all your google drive photos." {{action 'unmanageFiles'}}>
          Unmanage All</button>
      </td>
    </tr>
    <tr>
      <td>Number of managed images with geolocation info but not in location hierarchy</td>
      <td>34</td>
      <td><button class="btn btn-info btn-small">Organize by location</button></td>
    </tr>
    <tr>
      <td>Number managed images which also belong to unmanaged folders</td>
      <td>5</td>
      <td><button class="btn btn-info btn-small">Leave them managed</button></td>
    </tr>
  </table>
</div>
{{else}}
    <h3>There are no Fotomoo managed pictures on your Google Drive</h3>
{{/if}}
