<h1>readme</h1>

<p>
    At this moment Fotomoo can organize pictures on your google drive by creating two hierarchies:
    1) By Date - YEAR/MONTH folders using a date the picture was taken
    2) By Location - For Photos with geotags (taken on Smartphone) Fotomoo will try to obtain an address and put pictures into
    COUNTRY/CITY folders.
    3) Fotomoo will also use the address into searchable attributes of the pictures so you can use a
    search field in your Google Drive UI to locate images.
</p>