<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fotomoo</title>

  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
  <style> body { padding-top: 41px; } </style>

  <script type="text/javascript">
      window.ENV = window.ENV || {};
      ENV.EXPERIMENTAL_CONTROL_HELPER = true;
  </script>

</head>
<body>
<%= yield %>
<%= javascript_include_tag 'application' %>
</body>
</html>
